html {
    box-sizing: border-box;  
}

@font-face {
  font-family: CursedTimerUlil-Aznm;
  src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0px;
    font-family: "CursedTimerUlil-Aznm", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1, h2, h3, h4 {
    color: #ffffff;
    font-family: "Verdana", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

h3 {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 24px;
}

button {
    font-family: CursedTimerUlil-Aznm;
    src: url(CursedTimerUlil-Aznm.ttf);
    color: #ffffff;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 12px 18px;
    border: none;
    transition: all 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.container {
    max-width: 640px;
    background: rgb(75,108,183);
    background: linear-gradient(228deg, rgba(75,108,183,1) 20%, rgba(24,40,72,1) 100%);
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    margin: 10% auto 0px auto;
    padding: 72px;
    
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.score-wrapper {
    background: #6A7A9E;
    background-color: #6A7A9E;
    opacity: 0.9;
    background-image: linear-gradient(0deg, #6A7A9E 50%, #54617e 50%);
    background-size: 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #34D399;
    box-shadow: inset 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 155px;
    height: 120px;
    margin-bottom: 30px;
}

.score {
    color: #34D399;
    font-size: 90px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.reset {
    margin-top: 20px;
}

.timer {
    color: #ffffff;
    padding-top: 16px;
}

@media only screen and (max-width: 500px) {
  .container {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      margin: 1%;
  }
  
  .content-wrapper {
    margin-bottom: 10px;
    }
}

/* Animation */

.flip-horizontal-bottom {
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation-direction:reverse;
            -webkit-animation-direction:reverse;
}

/* Animation */
@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
}

@keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
}



